

#main-doc{
    display: block;
    
}

.final{
    display: flex;
}

#navbar{
    width: 200px;
    padding: 10px;
}

.main-section > p{
    width: 500px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  

.list{
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    
}